nav{
    background-color: antiquewhite;
}



a.navbar-brand {
    color: white;
}

img.navbar-brand {
    width: 120px;
}

a.nav-link {
    color: white;
    
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    color: white;
}
