body {
    color: white;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.logbg {
    background-image: url(https://wallpaperaccess.com/full/733839.jpg);
    min-height: 760px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* paralax */
    background-attachment: fixed;
}

.logtitle {
    color: white;
}

label.form-label {
    color: white;
}

label.form-check-label {
    color: white;
}