/* Navbar Style */

nav.navbar.navbar-expand-lg {
	position: sticky;
	position: -webkit -sticky;
	top: 0;
	z-index: 1;
}

a.navbar-brand {
    color: white;
}

img.navbar-brand {
    width: 120px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    color: white;
}

/* Search bar */

button.btn-outline-success {
    --bs-btn-color: #b47e01;
    --bs-btn-border-color: #b47e01;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #b47e01;
    --bs-btn-hover-border-color: #b47e01;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b47e01;
    --bs-btn-active-border-color: #b47e01;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #b47e01;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #b47e01;
    --bs-gradient: none;
}

/* Background Style */

.bgimg {
    background-image: url(https://i.pinimg.com/originals/df/a7/29/dfa72927dc7f87e10cf5d960f3650050.jpg);
    min-height: 810px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* paralax */
    background-attachment: fixed;
}

.container {
    display: flex;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
}

h3.usertitle {
    color: white;
    text-align: center;
}